.empbox{
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 7px 10px black;
    width: 100%;
    padding: 10px;
     
}
body{
    background-color: aquamarine;
}
.submitButton{
    background-color: beige;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 1px 1px black;
}